@import "styles/variaveis";
@import "styles/breakpoints";

.itens {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;

  @media (min-width: $mobile) and (max-width: $desktop_md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}