@import "styles/variaveis";

.filtros {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  &__filtro {
    border: none;
    border-radius: 4px;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey;
    font-weight: bold;
    font-size: 1.25rem;

    &--ativo {
      background-color: $blue;
      color: white;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
