.sobreNos {
  margin-bottom: 50px;
  display: flex;
  gap: 20px;

  &__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: justify;

    > p {
      font-family: "Josefin Sans", sans-serif;
    }
  }
}

.imagens {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  &__imagem {
    width: 600px;

    img {
      border-radius: 5px;
      width: 100%;
    }
  }
}
