@import "styles/variaveis";
@import "styles/breakpoints";

.buscador {
  border-radius: 5px;
  width: 400px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $grey;
  padding: 0 15px;
  gap: 18px;

  @media (max-width: $mobile) {
    width: 100%;
  }

  input {
    border: none;
    width: 100%;
    background-color: $grey;
    font-weight: bold;
    font-size: 1.5rem;
    outline: none;

    &::placeholder {
      color: #4c4d5e;
    }
  }
}
