@import "styles/variaveis";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.voltar {
  width: 100%;
  display: flex;
  justify-content: flex-start;

  button {
    border: none;
    background-color: transparent;
    color: $red;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
